<div class= "row">
    <div class="col-3">
        <div class="list-group">
            <a class="list-group-item custom-change-color-head" routerLink="/"><h3>Categories</h3></a>
            <a *ngFor="let c of categories$ | async" 
            routerLink='/'
            [queryParams] = "{category : c.key}"
            class="list-group-item  custom-change-color"
            [class.active] = "category === c.key"
            >
                {{c.val.name}}
            </a>
        </div>
    </div>
    <div class="col">
        <div class="col">
            <div class="row">
                <ng-container *ngFor="let p of product$ | async; let i = index" >
                    <div class="col" *ngIf="category === p.val.category || category == null">
                        <div  class="card" style="width: 15rem;">
                            <img (click)="addToCart(p)" [src]="p.val.imageUrl" class="card-img-top" alt="Add to Cart">
                            <div (click)="addToCart(p)" class="card-body">
                                <h5 class="card-title">{{p.val.title}}</h5>
                                <p class="card-text">{{p.val.price | currency:'USD':true}}</p>
                                
                            </div>
                                <div *ngFor="let s of shoppingCart$ | async">
                                        <div *ngIf="s.product.title === p.val.title && s.quantity > 0">
                                            <div *ngIf = "showActions " class="card-footer">
                                            <div class="row no-gutters">
                                                <div class="col-2">
                                                    <button (click) = "removeFromCart(p)" class="btn btn-secondary btn-block bg-primary rounded-0">
                                                        -
                                                    </button>
                                                </div>
                                                <div class = "col text-center border border-dark bg-light">
                                                    {{s.quantity}} in cart
                                                </div>
                                                <div class="col-2">
                                                    <button (click)="addToCart(p)" class="btn btn-secondary btn-block bg-success rounded-0">
                                                        +
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  *ngIf="(i+1) % 2 === 0" class="w-100"></div>
                </ng-container>
            </div>
        </div>
    </div>
</div>




