<div class= "row">
    <div class="col-3">
        <div class="list-group">
            <a class="list-group-item custom-change-color-head" routerLink="/"><h3>Categories</h3></a>
            <a *ngFor="let c of categories$ | async" 
            routerLink='/'
            [queryParams] = "{category : c.key}"
            class="list-group-item  custom-change-color"
            [class.active] = "category === c.key"
            >
                {{c.val.name}}
            </a>
        </div>
    </div>
    <div class="col">
        <div class="col">
            <div class="row">
                <ng-container *ngFor="let p of product$ | async; let i = index" >
                    <div class="col" *ngIf="category === p.val.category || category == null">
                        <div class="card" style="width: 15rem;">
                            <img [src]="p.val.imageUrl" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{p.val.title}}</h5>
                                <p class="card-text">{{p.val.price | currency:'USD':true}}</p>
                                <a class="add-cart" href="#" class="btn btn-success">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                    <div  *ngIf="(i+1) % 2 === 0" class="w-100"></div>
                </ng-container>
            </div>
        </div>
    </div>
</div>




